html,
body {
    overflow-x: hidden;
    height: auto;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: #2c7ce558;
    border-radius: 20px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: #e3ebf6;
    border-radius: 20px;
}

.body {
    padding: 0 1.23rem;
    min-height: calc(100vh - 25vh);
    background-color: #f5f9fc !important;
}

.hide {
    display: none;
}

@font-face {
    font-family: Cerebri book;
    src: url(./assets/fonts/Cerebri/Cerebri\ Sans\ Book.ttf);
}

* {
    font-family: Cerebri book;
    letter-spacing: 0.03rem;
    /* color: #525f7f; */
}

*:focus,
*:active {
    outline: none !important;
    box-shadow: none !important;
}

.left {
    border-right: 0.18rem solid #e3ebf6;
    background-color: #ffffff;
}

.l-top {
    height: 35%;
    padding-top: 40%;
}

.l-bottom {
    height: 65%;
}

.dp {
    width: 120px;
    height: 120px;
    border: 2px solid #e3ebf6;
    box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.544), 2px 3px 3px rgb(255, 255, 255);
}

.l-bottom .accordion-item {
    border: 0;
}

.l-bottom .accordion-button {
    height: 30px;
    font-size: 0.9rem;
    border: 0;
}

.l-bottom button::after {
    width: 0.7rem;
    height: 0.7rem;
    background-size: 0.7rem;
}

.l-bottom .accordion-button:focus {
    border: 0;
}

#Dashboard button::after,
#logout button::after {
    visibility: hidden;
    border: 0;
}

.l-bottom span {
    margin-left: 10px;
}

.l-bottom ul {
    list-style-type: circle;
    margin: 0 auto;
}

.l-bottom ul li {
    font-size: 0.8rem;
    padding: 5px 0;
}

.l-bottom a {
    text-decoration: none;
    color: unset;
}

.desktop_hdr,
.searchBar {
    padding: 10px 0;
}

header button,
header input {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    color: #5e5e5e;
}

.dir {
    border-bottom: 0.15rem solid #e3ebf6;
}

.date_time {
    padding: 40px 0 20px;
}

.date_time p {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.date_time h5 {
    padding: 0;
    margin: 0;
}

.date_time > div:first-child {
    text-align: left;
}

.date_time > div:last-child {
    text-align: right;
}

.stat {
    width: calc((100% / 4) - 20px);
    height: 90px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.recent > div {
    height: 360px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.recent p,
.triple p {
    font-size: 14px;
}

.recent_1 {
    width: calc(35% - 13px);
}

.recent_2 {
    width: calc(65% - 12px);
}

.triple > div {
    width: calc((100% / 3) - 17px);
    height: 360px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.bdt > div {
    width: 100%;
    height: 380px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.register,
.services,
.unsettled,
.settled,
.users,
.profile {
    width: 100%;
    min-height: 623px;
    padding: 1.23rem 0;
    height: auto;
    border-radius: 0.4rem;
}

.lvl_1 > div {
    width: calc((100% / 3) - 20px);
}

.lvl_2 > div:first-child {
    width: 30%;
}

.lvl_2 > div {
    width: calc((100% / 4) - 45px);
}

.lvl_3 > div:first-child {
    width: calc((100% / 3) - 60px);
}

.lvl_3 > div:nth-child(2) {
    width: calc((100% / 3) - 70px);
}

.lvl_3 > div:nth-child(3) {
    width: calc((100% / 3) + 70px);
}

div.nav-link {
    padding: 0.5rem;
    color: unset;
}

.services button[type="submit"] {
    padding: 0 30px;
    border-radius: 5px;
    background: royalblue;
    color: white;
}

.services table button {
    padding: 1px 5px;
    font-size: 0.8rem;
}

label {
    font-size: 14px;
    text-transform: capitalize;
}

textarea {
    font-size: 14px !important;
    text-transform: capitalize;
}

.tooltip-inner {
    /* background-color: rgba(128, 128, 128, 0.3); */
    /* color: #000; */
    width: 100%;
    border-radius: 10px;
    text-align: left;
    font-size: 11px;
    /* box-shadow: 2px 3px 3px 3px rgba(128, 128, 128, 0.379); */
}

/* 
.tooltip .tooltip-arrow::before {
    border-top-color: rgba(128, 128, 128, 0.3) !important;
    border-bottom-color: rgba(128, 128, 128, 0.3) !important;
    box-shadow: -2px -3px -3px 3px rgba(128, 128, 128, 0.379);
} */

.add {
    padding: 0 0.5rem;
    font-size: 20px;
    color: #0d6efd;
}

.rmv {
    padding: 0 0.5rem;
    font-size: 20px;
    color: red;
}

#pfl {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 300px;
    border-radius: 0.75rem;
    border: 0.1rem solid #e3ebf6;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

#pyl {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 230px;
    border-radius: 0.75rem;
    border: 0.1rem solid #e3ebf6;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

#pfg {
    height: 115px;
}

.avatar {
    display: inline-block;
    margin-top: -5rem;
}

#pf_left {
    width: 65%;
}

#pf_right {
    width: 33%;
}

#pf_left .list-group-item {
    border: 0;
    display: flex;
    font-size: 14px;
}

.payment .list-group-item {
    border: 1px dashed rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.5rem;
}

.dashboard .list-group-item {
    border: 0 !important;
}

#pf_left > div,
#pf_right > div,
#py_1 > div,
.rg_f {
    padding: 1rem;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.progress {
    height: 0.5rem !important;
}

.menu > div > div:last-child {
    margin-bottom: 32px;
}

.extend {
    background-color: #f5f9fc !important;
    padding: 2px;
}

.extend::after {
    content: " ";
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -6px;
    left: 23px;
    width: 2px;
    height: 23px;
    z-index: 20;
    background-color: #f0f3f7;
}

#base > canvas {
    height: 300px;
}
