html,
body,
body > div {
    overflow-x: hidden !important;
    height: 100% !important;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Nunito+Sans:wght@400;600;700;800;900&display=swap");

body::-webkit-scrollbar,
div::-webkit-scrollbar,
select::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
select::-webkit-scrollbar-thumb {
    background: #2c7ce558;
    border-radius: 20px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track,
select::-webkit-scrollbar-track {
    background: #e3ebf6;
    border-radius: 20px;
}

body.notif .modal-backdrop.show {
    opacity: 0;
}

div#notificationPane .modal-body {
    font-size: 13px;
    padding: 0.3rem !important;
    text-align: center;
    box-shadow: 1px 8px 5px -1px rgb(10 22 70 / 10%), 0px 0px 1px 0 rgb(10 22 70 / 6%);
}

#notificationPane .modal-dialog {
    width: 360px;
}

.body {
    padding: 0 1.23rem;
    min-height: 100vh;
    background-color: #f5f9fc !important;
}

.bi {
    font-size: 16px;
}

.ext {
    background-color: #f5f9fc !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

* {
    font-family: "Inter", sans-serif !important;
    letter-spacing: 0.04rem;
    font-weight: 500 !important;
}

*:focus,
*:active {
    outline: none !important;
    box-shadow: none !important;
}

.left {
    border-right: 0.18rem solid #e3ebf6;
    background-color: #ffffff;
}

.l-top {
    height: 35%;
    padding-top: 40%;
}

.l-bottom {
    height: 65%;
}

/* .btn {
    box-shadow: 4px 5px 8px -1px rgb(10 25 84 / 20%), 0px 0px 1px 0 rgb(10 22 70 / 6%) !important;
} */

.dp {
    width: 120px;
    height: 120px;
    border: 2px solid #e3ebf6;
    box-shadow: 2px 3px 3px rgba(128, 128, 128, 0.544), 2px 3px 3px rgb(255, 255, 255);
}

.l-bottom .accordion-item {
    border: 0;
}

.l-bottom .accordion-button {
    height: 30px;
    font-size: 0.9rem;
    border: 0;
}

.l-bottom button::after {
    width: 0.7rem;
    height: 0.7rem;
    background-size: 0.7rem;
}

.l-bottom .accordion-button:focus {
    border: 0;
}

#Dashboard button::after,
#logout button::after {
    visibility: hidden;
    border: 0;
}

.l-bottom span {
    margin-left: 12px;
}

.l-bottom ul {
    list-style-type: circle;
    margin: 0 auto;
}

.l-bottom ul li {
    font-size: 0.8rem;
    padding: 5px 0;
}

a {
    text-decoration: none;
}

.l-bottom a {
    color: unset;
}

.desktop_hdr,
.searchBar {
    padding: 10px 0;
}

header button,
header input {
    border: 0;
    background-color: transparent;
    font-size: 14px;
    color: #5e5e5e;
}

.dir {
    border-bottom: 0.15rem solid #e3ebf6;
}

.date_time {
    padding: 40px 0 20px;
}

.date_time p {
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.date_time h5 {
    padding: 0;
    margin: 0;
}

.date_time > div:first-child {
    text-align: left;
}

.date_time > div:last-child {
    text-align: right;
}

.stat {
    width: calc((100% / 4) - 20px);
    height: 90px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.recent > div {
    height: 360px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.recent p,
.triple p {
    font-size: 14px;
}

.recent_1 {
    width: calc(35% - 13px);
}

.recent_2 {
    width: calc(65% - 12px);
}

.triple > div {
    width: calc((100% / 3) - 17px);
    height: 360px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.bdt > div {
    width: 100%;
    height: 380px;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.register,
.services,
.unsettled,
.settled,
.users,
.profile,
.payment {
    width: 100%;
    min-height: 623px;
    padding: 1.23rem 0;
    height: auto;
    border-radius: 0.4rem;
    transition: 1s !important;
}

.users .list-group-numbered > li::before {
    margin-top: 0.4rem !important;
}

.users .list-group-numbered > li > div {
    width: calc(100% - 16px);
}

.lvl_1 > div {
    width: calc((100% / 3) - 20px);
}

.lvl_2 > div:first-child {
    width: 30%;
}

.lvl_2 > div {
    width: calc((100% / 4) - 45px);
}

.lvl_3 > div:first-child {
    width: calc((100% / 3) - 60px);
}

.lvl_3 > div:nth-child(2) {
    width: calc((100% / 3) - 70px);
}

.lvl_3 > div:nth-child(3) {
    width: calc((100% / 3) + 70px);
}

div.nav-link {
    padding: 0.4rem 0.5rem;
    color: unset;
}

.services button[type="submit"] {
    padding: 0 30px;
    border-radius: 5px;
    background: royalblue;
    color: white;
}

.services table button {
    padding: 1px 5px;
    font-size: 0.8rem !;
}

.add {
    padding: 0 0.5rem;
    font-size: 20px;
    border-radius: 0.5rem !important;
}

.rmv {
    padding: 0 0.65rem;
    font-size: 20px;
    border-radius: 0.5rem !important;
}

#pfl {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 300px;
    border-radius: 0.75rem;
    border: 0.1rem solid #e3ebf6;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

#pyl {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 230px;
    border-radius: 0.75rem;
    border: 0.1rem solid #e3ebf6;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

.bg-1 {
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca1af, #2c3e50);
    background: linear-gradient(to right, #4ca1af, #2c3e50);
}

#pfg {
    height: 115px;
}

.avatar {
    display: inline-block;
    margin-top: -5rem;
}

#pf_left {
    width: 65%;
}

#pf_right {
    width: 33%;
}

#pf_left .list-group-item {
    border: 0;
    display: flex;
    font-size: 14px;
}

.unsettled .list-group-item,
.settled .list-group-item {
    border-width: 1px !important;
}

.payment .list-group-item {
    border: 1px dashed rgba(0, 0, 0, 0.125) !important;
    border-radius: 0.5rem;
}

.home .list-group-item {
    border-width: 1px !important;
    border-color: #e3ebf6;
    transition: 0.2s;
}

.home .list-group-item:hover {
    background-color: transparent;
    color: unset;
    transform: translate(0px, -2px);
    box-shadow: 1px 8px 5px -1px rgb(10 22 70 / 10%), 0px 0px 1px 0 rgb(10 22 70 / 6%);
}

.dashboard .list-group-item,
.profile .list-group-item,
.users .list-group-item {
    border: 0 !important;
}

.dashboard h5 {
    font-family: Nunito !important;
}

.dd {
    font-weight: bold !important;
}

#pf_left > div,
#pf_right > div,
#py_1 > div,
.rg_f {
    padding: 1rem;
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}

#pf_right > div {
    padding: 0;
    height: 347px;
}

.progress {
    height: 0.5rem !important;
}

.extend {
    background-color: #f5f9fc !important;
    padding: 2px;
}

.extend::after {
    content: " ";
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: -2px;
    left: 23px;
    width: 2px;
    height: 23px;
    z-index: 20;
    background-color: #f0f3f7;
}

#base > canvas {
    height: 300px;
}

#login {
    width: 500px;
    margin: auto;
}

.notify,
.notifyA,
.notifyB {
    font-size: 13px;
    max-width: 500px;
    margin: auto;
}

.form-text {
    font-size: 0.75em !important;
}

.form-select,
.form-control {
    border-radius: 0.5rem !important;
    font-weight: 400 !important;
    text-transform: capitalize;
}

.form-check-input {
    width: 1.1em !important;
    height: 1.1em !important;
}

input[type="email"] {
    text-transform: lowercase;
}

label {
    font-size: 13px;
    text-transform: capitalize;
}

textarea {
    font-size: 14px !important;
    text-transform: capitalize;
}

.modal-content {
    border: 0.1rem solid #e3ebf6 !important;
}

#SignUP {
    width: 70%;
    margin: auto;
}

#spin {
    width: 200px;
}

.bbs {
    background-color: #ffffff;
    border-bottom: 0.1rem solid #e3ebf6;
}

.point li {
    cursor: pointer;
}

.point li:hover {
    color: white;
    background-color: #0d6efd;
    transition: 0.4s !important;
}

.chn {
    position: absolute;
    left: 0.35rem;
    background-color: #ffffffa3;
    height: 150px;
    width: 150px;
    top: -3.9rem;
    opacity: 0;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    z-index: 10;
    transition: 0.2s;
}

.chn:hover {
    opacity: 1;
}

.display {
    width: 500px;
    height: auto;
    max-width: 100%;
    display: block;
}

.preview {
    overflow: hidden;
    width: 300px !important;
    height: 300px !important;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.header {
    position: absolute;
    top: 5px;
    left: calc(15% / 2);
    z-index: 100;
}

.mid {
    position: absolute;
    top: 0;
    left: calc(15% / 2);
    z-index: 5;
}

.mid h2 {
    font-size: 33px;
    font-weight: 800 !important;
}

.mid h3 {
    font-size: 23px;
    font-weight: 800 !important;
}

.mid p {
    max-width: 500px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    background-color: #949cf7d1;
    mix-blend-mode: multiply;
}

.verify {
    background-color: #ffffff;
    border: 0.1rem solid #e3ebf6;
    border-radius: 0.75rem;
    box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}
